html,
html::before,
html::after {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  min-width: 320px;
  height: 100%;
}

body {
  font-size: 14px;
  line-height: calc(24 / 14);
  font-family: 'Roboto', 'Arial', sans-serif;
  color: white;

  a {
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    color: inherit;
  }
}

h1 {
  margin: 0;
  padding: 20px 0 30px 0;
  font-weight: normal;
  font-size: 35px;
  line-height: calc(42 / 35);
  font-family: 'Sansus Webissimo', 'Arial', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  margin: 0;
  padding: 25px 0 15px 0;
  font-weight: normal;
  font-size: 21px;
  line-height: calc(28 / 21);
  font-family: 'Sansus Webissimo', 'Arial', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  margin: 0;
  padding: 15px 0 10px 0;
  font-weight: bold;
  font-size: 21px;
  line-height: calc(28 / 21);
  text-align: center;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
}

.container {
  width: 300px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media screen and (min-width: $tablet) {
  body {
    font-size: 16px;
    line-height: calc(24 / 16);
  }

  .container {
    width: 720px;
  }

  h1 {
    font-size: 49px;
    line-height: calc(56 / 49);
  }

  h2 {
    font-size: 30px;
    line-height: calc(36 / 30);
  }
}

@media screen and (min-width: $desktop) {
  body {
    font-size: 16px;
    line-height: calc(24 / 16);
  }

  .container {
    width: 1138px;
  }

  h1 {
    font-size: 49px;
    line-height: calc(56 / 49);
  }

  h2 {
    font-size: 30px;
    line-height: calc(36 / 30);
  }
}

@media screen and (min-width: $desktop-large) {
  .container {
    width: 1740px;
  }
}
