.form {
  width: 100%;
  background-color: rgba(#1c1f29, 0.5);

  & form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form__title {
  padding: 35px 0 30px 0;
  font-weight: normal;
  font-size: 30px;
  line-height: calc(42 / 30);
  font-family: 'Sansus Webissimo', 'Arial', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.form__field-wrapper {
  position: relative;
  margin-bottom: 20px;

  &--error {
    outline: 1px solid #e44845;

    .form__field-error {
      visibility: visible;
    }

    .form__field-icon {
      fill: #e44845;
    }

    .form__field:focus {
      & + .form__field-picture .form__field-icon {
        fill: #e44845;
      }
    }
  }
}

.form__field {
  padding-left: 65px;
  padding-right: 20px;
  width: 260px;
  height: 45px;
  color: #373e42;
  border: none;

  &:focus {
    & + .form__field-picture .form__field-icon {
      fill: $blue;
    }
  }

  &::placeholder {
    color: rgba(#373e42, 0.5);
  }
}

.form__field-picture {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: #f0efe9;
}

.form__field-icon {
  transition: 0.3s;
}

.form__field-error {
  position: absolute;
  bottom: -15px;
  left: 45px;
  transform: translateY(100%);
}

.form__capture-label {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: calc(24 / 16);

  &::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 3px;
    background: $blue;
  }
}

.form__capture {
  display: none;

  &:checked + .form__capture-label::before {
    background: $blue url('../img/svg/check.svg') no-repeat center;
    background-size: 12px 10px;
  }
}

.form__confirm-wrapper {
  margin-bottom: 37px;
  font-size: 16px;
  line-height: calc(24 / 16);
}

.form__confirm-title {
  padding: 10px 0 6px 0;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
}

.form__confirm-controls {
  display: flex;
}

.form__confirm {
  display: none;

  &:checked + .form__confirm-label {
    &::after {
      opacity: 1;
    }
  }
}

.form__confirm-item {
  &:nth-child(2n + 1) {
    margin-right: 40px;
  }
}

.form__confirm-label {
  position: relative;
  padding-left: 30px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    display: block;
    border-radius: 50%;
  }

  &::before {
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    transform: translateY(-50%);
  }

  &::after {
    left: 10px;
    width: 8px;
    height: 8px;
    background-color: $blue;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
  }
}

.form__menu {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  width: 100%;
}

.form__menu-item {
  flex: 1;
  font-size: 16px;
  color: #ffffff;

  &:first-child {
    border-right: 2px solid rgba(#dee3e7, 0.5);
  }

  &--submit {
    flex: 1;
  }
}

@media screen and (min-width: $tablet) {
  .form__title {
    padding: 35px 0 30px 0;
    font-size: 30px;
    line-height: calc(42 / 30);
  }

  .form__field {
    width: 306px;
  }

  .form__confirm-title {
    margin: 0;
    padding: 11px 0 5px 0;
  }
}

@media screen and (min-width: $desktop) {
  .form__title {
    padding: 33px 0 32px 0;
    font-size: 35px;
    line-height: calc(42 / 35);
  }

  .form__field {
    width: 340px;
  }
}
