.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header__socials {
  .socials__item {
    &:not(:last-child) {
      margin-right: 22px;
    }
  }
}

@media screen and (min-width: $tablet) {
  .header {
    padding: 28px 6px;
  }
}

@media screen and (min-width: $desktop) {
  .header {
    padding: 28px 0;
  }
}
