.main-nav__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  visibility: hidden;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    background-color: rgba(#253468, 0.87);
    z-index: 100;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  &--opened {
    visibility: visible;

    &::before,
    &::after {
      width: 50%;
      transition: width 0.8s;
    }
  }
}

.main-nav__list {
  visibility: hidden;
  z-index: 500;
}

.main-nav__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.main-nav__item {
  &:not(:last-child) {
    margin-bottom: 25px;
  }

  .main-nav__link--active {
    color: #ffffff;
  }
}

.main-nav__link {
  position: relative;
  display: block;
  padding-bottom: 16px;
  color: rgba(#ffffff, 0.7);
  transition: color 0.3s;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 56px;
    height: 3px;
    background-color: #ffffff;
    opacity: 0;
    transform: translateX(-50%);
    transition: background-color 0.3s;
  }

  &[href]:hover {
    color: #ffffff;

    &::after {
      opacity: 1;
    }
  }
}

@media screen and (min-width: $tablet) {
  .main-nav__toggle {
    width: 40px;
    height: 35px;
  }

  .main-nav__link {
    &::after {
      width: 89px;
      height: 4px;
    }
  }
}

@media screen and (min-width: $desktop) {
  .main-nav__toggle-line {
    &,
    &::after,
    &::before {
      height: 5px;
    }
  }
}
