.popup-error {
  padding: 13px 20px;
  font-weight: 500;
  color: white;
  background-color: #e44845;
  border-radius: 7px;
  visibility: hidden;
  transition: visibility 0.3s;
  z-index: 100;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border: 8px solid transparent;
    border-bottom: 8px solid #e44845;
    transform: translate(-50%, -100%);
  }
}
