.reviews {
  padding-bottom: 346px;
  background: #12171f url('../img/about-bg-mobile@1x.jpg') no-repeat top center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url('../img/about-bg-mobile@2x.jpg');
  }
}

.reviews_form-wrapper {
  overflow: hidden;
}

.reviews__item {
  margin-bottom: 33px;
  font-style: italic;

  p {
    margin-top: 12px;
    margin-bottom: 6px;
  }

  cite {
    display: block;
    width: 60%;
    margin: 0 auto;
    text-align: center;

    b {
      display: block;
    }
  }
}

.reviews__title {
  margin: 0;
  padding: 30px 0 35px 0;
}

.reviews__picture {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}

.reviews__arrow-wrapper {
  display: flex;
  padding-top: 42px;
  padding-bottom: 40px;
}

.reviews__arrow {
  margin: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    .reviews__arrow-icon {
      opacity: 1;
    }
  }
}

.reviews__arrow-icon {
  opacity: 0.7;
  transform: rotate(180deg);
  transition: opacity 0.3s;
}

@media screen and (min-width: $tablet) {
  .reviews {
    padding-bottom: 230px;
    background-image: url('../img/about-bg-tablet@1x.jpg');

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../img/about-bg-tablet@2x.jpg');
    }
  }

  .reviews_form-wrapper {
    width: 348px;
    margin: 0 auto;
  }

  .reviews__title {
    padding: 38px 140px 41px 140px;
  }

  .reviews__articles {
    display: flex;
    justify-content: space-between;
  }

  .reviews__item {
    margin-bottom: 44px;
    width: 348px;
    font-size: 14px;

    p {
      margin-top: 17px;
      line-height: calc(24 / 14);
    }

    cite {
      font-size: 16px;
    }
  }

  .reviews__picture {
    width: 77px;
    height: 77px;
  }

  .reviews__arrow-wrapper {
    padding-top: 69px;
    padding-bottom: 45px;
  }
}

@media screen and (min-width: $desktop) {
  .reviews {
    padding-bottom: 188px;
    background-image: url('../img/about-bg-desktop@1x.jpg');

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../img/about-bg-desktop@2x.jpg');
    }
  }

  .reviews_form-wrapper {
    width: 380px;
  }

  .reviews__wrapper {
    width: 780px;
  }

  .reviews__title {
    padding: 56px 140px;
  }

  .reviews__item {
    margin-bottom: 67px;
    width: 380px;
    font-size: 16px;

    p {
      margin-bottom: 15px;
      line-height: calc(26 / 16);
    }

    cite {
      font-size: 16px;
      line-height: calc(24 / 16);
    }
  }

  .reviews__arrow-wrapper {
    padding-bottom: 64px;
  }
}
