.socials__list {
  display: flex;
  align-self: center;
}

.socials__item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-right: 27px;
  }
}

.socials__link {
  display: flex;
  align-items: center;

  &:hover {
    .socials__icon {
      fill: $darkBlue;
    }
  }

  &:active {
    .socials__icon {
      fill: lighten($darkBlue, 10%);
    }
  }
}

.socials__icon {
  fill: rgba(#ffffff, 0.5);
  transition: 0.3s;
}

@media screen and (min-width: $tablet) {
  .socials__item {
    &:not(:last-child) {
      margin-right: 27px;
    }
  }

  .socials__icon {
    width: 31px;
    height: 22px;
  }
}
