.title {
  font-weight: normal;
  font-size: 35px;
  line-height: calc(42 / 35);
  font-family: 'Sansus Webissimo', 'Arial', sans-serif;
  text-transform: uppercase;
  text-align: center;

  &--small {
    font-size: 21px;
    line-height: calc(28 / 21);
  }

  &--underlined {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      display: block;
      width: 56px;
      height: 3px;
      background-color: #474b57;
      transform: translateX(-50%);
    }
  }
}

@media screen and (min-width: $tablet) {
  .title {
    font-size: 49px;
    line-height: calc(56 / 49);

    &--small {
      font-size: 30px;
      line-height: calc(36 / 30);
    }

    &--underlined {
      &::after {
        width: 89px;
        height: 4px;
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  .title {
    font-size: 63px;
    line-height: calc(70 / 63);

    &--small {
      font-size: 35px;
      line-height: calc(40 / 35);
    }
  }
}
