.welcome-nav {
  width: 100%;
  min-height: 45px;
}

.welcome-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.welcome-nav__item {
  flex: 1;
  display: flex;

  &--works {
    flex: 5;
    border-right: 2px solid rgba(#dee3e7, 0.5);
  }

  &--about {
    flex: 4;
    border-right: 2px solid rgba(#dee3e7, 0.5);
  }
}

.welcome-nav__link {
  display: block;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: $tablet) {
  .welcome-nav__link {
    padding-left: 25px;
    padding-right: 25px;
  }
}
