extends ../_template

block variables
  include ../common/variables
  -
    


block content
  section.admin
    .admin__header
      .admin-wrapper
        h1.admin__title
        a.admin__return
    .admin__tabs
    
    .admin__main
      .admin-wrapper
        

