footer.footer
  span.page-footer__item.page-footer__item--name © Владимир Астахов
  span.page-footer__item.page-footer__item--description создано с любовью в LoftSchool
  span.page-footer__item.page-footer__item--year 2017
