section.hero
  .container
    header.hero__header.header
      include ../common/socials
      +socials("header__socials")
      nav.main-nav
        button.main-nav__toggle
          span.visually-hidden Главное меню
      .user__picture
        img.user__image(src="img/me-mobile@1x.jpg", alt="Андрей Иванов", width="140", height="180")
      .user__title
        span.user__name Андрей Иванов
        span.user__description Личный сайт веб разработчика
