mixin triangles(className)
  svg(class=`${className} triangles`, xmlns="http://www.w3.org/2000/svg", viewbox="0 0 320 38", preserveaspectratio="none", fill="#ffffff")
    polygon.triangle__left(points="0,0 0,38 160,38 160,27")
    polygon.triangle__right(points="320,0 320,38 160,38 160,27")